annotated_types==0.7.0
asttokens==3.0.0
attrs==25.3.0
certifi==2025.8.3
cffi==2.0.0
charset_normalizer==3.4.3
cloudpickle==3.0.0
comm==0.2.3
contourpy==1.3.1
cycler==0.12.1
Cython==0.29.37
debugpy==1.8.17
decorator==5.2.1
dgl==2.4.0
distlib==0.4.0
executing==2.2.1
Farama_Notifications==0.0.4
fasteners==0.20
filelock==3.19.1
fonttools==4.60.1
fsspec==2025.9.0
future==1.0.0
glfw==1.12.0
gym==0.26.2
gym-minigrid==1.2.2
gym-notices==0.1.0
gymnasium==1.2.0
idna==3.10
ImageIO==2.37.3
ipykernel==6.30.1
ipython==9.6.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jinja2==3.1.6
joblib==0.14.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib_inline==0.1.7
mpmath==1.3.0
mujoco-py==2.1.2.14
nest_asyncio==1.6.0
networkx==3.5
numpy==1.26.4
packaging==25.0
pandas==2.2.3
parso==0.8.5
pexpect==4.9.0
pillow==12.1.0
platformdirs==4.4.0
prettyexc==0.6.0
prompt_toolkit==3.0.52
protobuf==6.32.1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==3.0
pydantic==2.11.9
pydantic_core==2.33.2
pyglet==1.3.2
pygments==2.19.2
pyparsing==3.2.5
python_dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.0.2
requests==2.32.5
ring==0.10.1
-e git+https://github.com/LTL2Action/LTL2Action.git@d70f93346258bb246b1943055db66b78ae7b8223#egg=safety_gym&subdirectory=src/envs/safety/safety-gym
scikit_learn==1.7.1
scipy==1.15.1
setuptools==80.9.0
Shimmy==2.0.1
six==1.17.0
stable_baselines3==2.8.0
stack_data==0.6.3
sympy==1.14.0
tensorboardx==2.6.4
threadpoolctl==3.6.0
torch==2.4.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.15.0
typing_inspection==0.4.1
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.35.4
wcwidth==0.2.14
wirerope==1.0.0
xmltodict==0.12.0
